    <section class="py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center mb-5">
                    <h2>Best no-tricks pricing</h2>
                    <p class="lead"></p>
                    <div>There are no additional fees or extra hidden costs<br></div>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h3 class="text-gradient text-info">{Title}</h3>
                                <p><b>Level:</b> {Exam Level} </p>
                                <div><b>Exam Board:</b> {Exam Board} </div>
                                <div><b>Subject:</b> {Subject}</div>
                                <p></p>
                                <div class="row mt-5 mb-2">
                                    <div class="col-lg-3 col-12">
                                        <h6 class="text-dark tet-uppercase">Notes</h6>
                                    </div>
                                    <div class="col-6">
                                        <hr class="horizontal dark">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 ps-0">
                                        <div class="info d-flex align-items-center p-2">
                                            <div class="icon icon-shape icon-xs rounded-circle bg-gradient-info opacity-6 shadow text-center">
                                                <i class="fas fa-check opacity-10" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <span class="ps-2">{Note Items}</span>
                                            </div>
                                        </div>
                                        <div class="info d-flex align-items-center p-2">
                                            <div class="icon icon-shape icon-xs rounded-circle bg-gradient-info opacity-6 shadow text-center">
                                                <i class="fas fa-check opacity-10" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <span class="ps-2">Free entry to all repositories</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="info d-flex align-items-center p-2">
                                            <div class="icon icon-shape icon-xs rounded-circle bg-gradient-info opacity-6 shadow text-center">
                                                <i class="fas fa-check opacity-10" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <span class="ps-2">Pro member accounts</span>
                                            </div>
                                        </div>
                                        <div class="info d-flex align-items-center p-2">
                                            <div class="icon icon-shape icon-xs rounded-circle bg-gradient-info opacity-6 shadow text-center">
                                                <i class="fas fa-check opacity-10" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <span class="ps-2">Support team full assist</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-auto">
                            <div class="card-body text-center">
                                <h6 class="mt-4 mb-0">Exam Fee</h6>
                                <h1 class="mt-0">
                                    <small>$</small><span>{Exam Fee}}</span>
                                </h1>
                                <a class="btn bg-gradient-info btn-lg mt-2" href=url for apply_online_exams.html">Apply Now</a>
                                <p class="text-sm"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
