{% extends 'base.html' %}
{% block content %}
    <header class="">
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 my-auto">
                        <br>
                        <br>
                        <h1 class="text-gradient text-warning mb-0">Your Desired</h1>
                        <h1 class="mb-4">11+ Entrance Tuition at Excel Tutors</h1>
                        <p class="lead">Excel Tutors specialises in preparing students for the 11+ entrance exams, offering a comprehensive and structured approach to ensure every child has the best possible chance of gaining a place at their chosen grammar or independent school. Our unique program focuses on all aspects of the 11+ exams, including verbal and non-verbal reasoning, Maths, and English, emphasising affordability and a high success rate.</p>
                        <div class="buttons">
                            <button type="button" class="btn bg-gradient-warning mt-4" onclick="window.location.href='{% url 'enroll' %}'">Apply Online</button>
                        </div>
                    </div>
                    <div class="col-lg-8 ps-5 pe-0">
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" src="/static/img/studentimages/22.png" alt="">
                            </div>
                            <div class="col-lg-3 col-6">
                                <img class="w-100  border-radius-lg shadow" src="/static/img/studentimages/21.png" alt="">
                                <img class="w-100 border-radius-lg shadow mt-4" src="/static/img/studentimages/18.png" alt="">
                            </div>
                            <div class="col-lg-3 col-6">
                                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" src="/static/img/studentimages/15.png" alt="">
                                <img class="w-100 border-radius-lg shadow mt-4" src="/static/img/studentimages/11.png" alt="">
                            </div>
                            <div class="col-lg-3 col-6">
                                <img class="w-100 border-radius-lg shadow mt-3" src="/static/img/studentimages/10.png" alt="">
                                <img class="w-100 border-radius-lg shadow mt-4" src="/static/img/studentimages/22.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
 {% endblock %}