{% extends 'base.html' %}
{% block title %}Quality English Tuition in East London{% endblock %}
{% block content %}
    <header class="">
        <div class="page-header min-vh-100">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(/static/img/Classroom/12.png)"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                        <h1 class="text-gradient text-primary">Excel in English with</h1>
                        <h1 class="mb-4">English Lessons at Excel Tutors</h1>
                        <p class="lead pe-5 me-5">The time is now for it be okay to be great. People in this world shun people for being nice. </p>
                        <div class="buttons">
                            <button onclick="{% url 'enroll' %}" type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
                            <button type="button" class="btn text-primary shadow-none mt-4"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="py-5 position-relative">
    <!-- START Blogs w/ big image on left -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-6 mx-lg-0 mx-auto px-lg-0 px-md-0 my-auto">
        <img class="w-100 border-radius-lg shadow" src="/static/img/studentimages/13.png">
      </div>
      <div class="col-lg-4 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
        <h2 class="mb-0 mt-lg-0 mt-4 text-gradient text-info">English @Excel</h2>
        <p class="lead">Tuition at Excel Tutors is tailored to learners’ individual specific needs. Initial assessment
provides the basis for designing bespoke learning support for all our learners. In designing
English language support, our Tutors consider each child’s progress at school and provide
support as an add-on to progress made at school. This ensures that we focus on a child’s
areas of challenge to enhance their attainment in line with their year of learning.</p>

        <p class="lead">On admission, Excel Tutors provides a set of English language workbooks based on the UK
curriculum. Learners are guided to focus on activities that address their individual specific
challenges. The completion of the workbooks significantly enhances learner achievement at
their specific year of study. Besides the workbooks provided, our centre has an array of
English language resources, which include novels, plays, anthology and revision and study
guides which enhance learning. All learners are supported according to their areas of need,
in line with the national curriculum and specific exam boards. </p>
        <h3 class="mt-4">Key Stage Two & Three</h3>
        <p class="lead">Tuition support covers reading and comprehension and tasks which enhance the
development of student writing skills as well as enrichment of learner vocabulary, spelling,
punctuation and grammar.<br>
Our centre provides English language tuition support at GCE A Level and GCSE with a
focus on preparing learners for their exams. Excel Tutors welcomes students preparing for
AQA, OCR, Pearson Edexcel, CIE and WJEC exams. The support and practice workbooks
are designed in relation to specific exam boards. For GCSE learners, we provide support on
the new 9-1 graded syllabus.<br>
Years 3 to 10 learners are given mock tests every term with developmental feedback. The
aim is to assess learner progress and identify challenging areas which would then form the
basis for designing bespoke learning support.<br>
GCSE, GCE A Level and Year 6 SATs learners have a minimum of 5 mock tests taken
under strict exam conditions and marked according to awarding body rubrics. This provides
opportunity to measure students’ preparedness for their examinations</p>

      </div>
    </div>
  </div>
</section>
<!-- END Blogs w/ big image on left -->


    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center pb-5">
                    <div class="icon icon-shape text-center mb-3">
                        <svg class="text-info" width="40px" height="40px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>customer-support</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                    <g transform="translate(1716.000000, 291.000000)">
                                        <g transform="translate(1.000000, 0.000000)">
                                            <path class="color-background" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z" opacity="0.59858631"></path>
                                            <path class="color-foreground" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                                            <path class="color-foreground" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3>What Our Students Say</h3>
                    <p class="lead"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain text-center">
                        <a href="javascript:;">
                            <img class="avatar avatar-xl shadow" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-1.jpg">
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">Jessica Davis</h4>
                            <h6 class="category text-info text-gradient">GCSE English Student @Excel</h6>
                            <p class="card-description">
                                "Don't walk behind me; I may not lead. Don't walk in front of me; I may not follow. Just walk beside me and be my friend."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain text-center">
                        <a href="javascript:;">
                            <img class="avatar avatar-xl shadow" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/marie.jpg">
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">Joshiah Luke</h4>
                            <h6 class="category text-info text-gradient">A Level English Student @Excel</h6>
                            <p class="card-description">
                                "The pessimist complains about the wind; the optimist expects it to change; the realist adjusts the sails."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain text-center">
                        <a href="javascript:;">
                            <img class="avatar avatar-xl shadow" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-4.jpg">
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">Andrew John</h4>
                            <h6 class="category text-info text-gradient">GCSE English Student @Excel</h6>
                            <p class="card-description">
                                "Do not go where the path may lead, go instead where there is no path and leave a trail."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}