<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/loopple/loopple.css">
</head>

<body class="null">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center mb-5">
                    <h3 class="text-gradient text-info">The Executive Team</h3>
                    <p class="font-weight-normal">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</p>
                </div>
            </div>
            <div class="row mt-lg-5 mt-3">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-lg-5">
                                <a href="javascript:;">
                                    <div class="position-relative">
                                        <div class="blur-shadow-image">
                                            <img class="w-100 rounded-3 shadow-lg" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/kal-visuals.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-7 ps-0 my-auto">
                                <div class="card-body text-start">
                                    <div class="p-md-0 pt-3">
                                        <h5 class="font-weight-bolder mb-0">Anis Zaman</h5>
                                        <p class="text-uppercase text-sm font-weight-bold mb-2">Director</p>
                                    </div>
                                    <p class="mb-4">Today you are you! That is truer than true! There is no one alive who is you-er than you!</p>
                                    <button type="button" class="btn btn-facebook btn-simple btn-lg mb-0 pe-3 ps-2">
                                        <i class="fab fa-facebook" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-twitter btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-github btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-lg-5">
                                <a href="javascript:;">
                                    <div class="position-relative">
                                        <div class="blur-shadow-image">
                                            <img class="w-100 rounded-3 shadow-lg" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/jordan.jpg" alt="profile image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-7 ps-0 my-auto">
                                <div class="card-body text-start">
                                    <div class="p-md-0 pt-3">
                                        <h5 class="font-weight-bolder mb-0">Eman Ahamed</h5>
                                        <p class="text-uppercase text-sm font-weight-bold mb-2">Deputy Centre Manager</p>
                                    </div>
                                    <p class="mb-4">Artist is a term applied to a person who engages in an activity deemed to be an art.</p>
                                    <button type="button" class="btn btn-facebook btn-simple btn-lg mb-0 pe-3 ps-2">
                                        <i class="fab fa-facebook" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-twitter btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-github btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-lg-5 mt-3">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-lg-5">
                                <a href="javascript:;">
                                    <div class="position-relative">
                                        <div class="blur-shadow-image">
                                            <img class="w-100 rounded-3 shadow-lg" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/ivana.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-7 ps-0 my-auto">
                                <div class="card-body text-start">
                                    <div class="p-md-0 pt-3">
                                        <h5 class="font-weight-bolder mb-0">Shamsul Azam</h5>
                                        <p class="text-uppercase text-sm font-weight-bold mb-2">Finance Manager</p>
                                    </div>
                                    <p class="mb-4">Do not dwell in the past, do not dream of the future, concentrate the mind...</p>
                                    <button type="button" class="btn btn-facebook btn-simple btn-lg mb-0 pe-3 ps-2">
                                        <i class="fab fa-facebook" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-twitter btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-github btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-lg-5">
                                <a href="javascript:;">
                                    <div class="position-relative">
                                        <div class="blur-shadow-image">
                                            <img class="w-100 rounded-3 shadow-lg" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/brooke.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-7 ps-0 my-auto">
                                <div class="card-body text-start">
                                    <div class="p-md-0 pt-3">
                                        <h5 class="font-weight-bolder mb-0">Nusrat Jahan</h5>
                                        <p class="text-uppercase text-sm font-weight-bold mb-2">Lead Administrator</p>
                                    </div>
                                    <p class="mb-4">Success is not final, failure is not fatal: it is the courage to continue that counts...</p>
                                    <button type="button" class="btn btn-facebook btn-simple btn-lg mb-0 pe-3 ps-2">
                                        <i class="fab fa-facebook" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-twitter btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-github btn-simple btn-lg mb-0 px-2">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-7 position-relative" style="background-image: url('https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/curved-images/curved14.jpg'); background-size:cover;">
        <span class="mask bg-gradient-dark"></span>
        <div class="container position-relative mb-4">
            <div class="row">
                <div class="col-md-8 mx-auto text-center mb-5">
                    <div class="icon icon-shape bg-gradient-info shadow text-center mb-3">
                        <i class="fas fa-users" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-white z-index-1 position-relative">The Executive Team</h3>
                    <p class="lead text-white opacity-6">Theres nothing I really wanted to do in life that I wasnt able to get good at. Thats my skill.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="card card-profile overflow-hidden">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                                <a href="javascript:;">
                                    <div class="p-3 pe-md-0">
                                        <img class="w-100 border-radius-md" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/kal-visuals-square.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                                <div class="card-body">
                                    <h5 class="mb-0">Emma Roberts</h5>
                                    <h6 class="text-info">UI Designer</h6>
                                    <p class="mb-0">Artist is a term applied to a person who engages in an activity deemed to be an art.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card card-profile mt-lg-0 mt-5 overflow-hidden">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                                <a href="javascript:;">
                                    <div class="p-3 pe-md-0">
                                        <img class="w-100 border-radius-md" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/bruce-mars.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                                <div class="card-body">
                                    <h5 class="mb-0">William Pearce</h5>
                                    <h6 class="text-info">Boss</h6>
                                    <p>Artist is a term applied to a person who engages in an activity deemed to be an art.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 col-12">
                    <div class="card card-profile overflow-hidden">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                                <a href="javascript:;">
                                    <div class="p-3 pe-md-0">

                                        <img class="w-100 border-radius-md" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-4.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                                <div class="card-body">
                                    <h5 class="mb-0">Ivana Flow</h5>
                                    <h6 class="text-info">Athlete</h6>
                                    <p>Artist is a term applied to a person who engages in an activity deemed to be an art.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card card-profile mt-lg-0 mt-5 overflow-hidden">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                                <a href="javascript:;">
                                    <div class="p-3 pe-md-0">

                                        <img class="w-100 border-radius-md" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/ivana-square.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                                <div class="card-body">
                                    <h5 class="mb-0">Sophia Garcia</h5>
                                    <h6 class="text-info">JS Developer</h6>
                                    <p>Artist is a term applied to a person who engages in an activity deemed to be an art.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute w-100 z-index-1 bottom-0">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
                </g>
            </svg>
        </div>
    </section>
    <div class="loopple-alert loopple-alert-gradient-dark loopple-alert-dismissible loopple-fade loopple-position-fixed loopple-z-index-9999 loopple-bottom-2 loopple-mx-auto loopple-text-center loopple-right-0 loopple-left-0 loopple-w-50" role="alert"><strong>View and edit your project online</strong><a class="loopple-btn loopple-btn-white loopple-ml-2" href="https://builder.creative-tim.com/builder/project-OD0Kk3yDKzJ7hAqXeffL5CPsKrrnMtwLlIQ" target="_blank">Editor</a><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/soft-design-system.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/typedjs.js"></script>
    <script>
        if (document.getElementById("state1")) {
                    const countUp = new CountUp("state1", document.getElementById("state1").getAttribute("countTo"));
                    if (!countUp.error) {
                      countUp.start();
                    } else {
                      console.error(countUp.error);
                    }
                  }
                  if (document.getElementById("state2")) {
                    const countUp1 = new CountUp("state2", document.getElementById("state2").getAttribute("countTo"));
                    if (!countUp1.error) {
                      countUp1.start();
                    } else {
                      console.error(countUp1.error);
                    }
                  }
                  if (document.getElementById("state3")) {
                    const countUp2 = new CountUp("state3", document.getElementById("state3").getAttribute("countTo"));
                    if (!countUp2.error) {
                      countUp2.start();
                    } else {
                      console.error(countUp2.error);
                    };
                  }
        
         if (document.querySelector('.datepicker-1')) {
              flatpickr('.datepicker-1', {
              }); // flatpickr
            } 
        
         if (document.querySelector('.datepicker-2')) {
              flatpickr('.datepicker-2', {
              }); // flatpickr
            }
        if (document.getElementById("typed")) {
            var typed = new Typed("#typed", {
              stringsElement: "#typed-strings",
              typeSpeed: 70,
              backSpeed: 50,
              backDelay: 200,
              startDelay: 500,
              loop: true
            });
          }
    </script>
    <script src="../assets/js/loopple/loopple.js"></script>
</body>