{% extends 'base.html' %}
{% block title %}Quality GCSE and A Level Science Tuition in London{% endblock %}
{% block content %}
    <header class="">
        <div class="page-header min-vh-100">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(/static/img/Classroom/5.png)"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                        <h1 class="text-gradient text-primary">Excel in Science with</h1>
                        <h1 class="mb-4">Science Lessons at Excel Tutors</h1>
                        <p class="lead pe-5 me-5">The time is now for it be okay to be great. People in this world shun people for being nice. </p>
                        <div class="buttons">
                            <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
                            <button type="button" class="btn text-primary shadow-none mt-4"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="py-5 position-relative">
    <!-- START Blogs w/ big image on left -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-6 mx-lg-0 mx-auto px-lg-0 px-md-0 my-auto">
        <img class="w-100 border-radius-lg shadow" src="/static/img/Classroom/3.png">
      </div>
      <div class="col-lg-4 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
        <h2 class="mb-0 mt-lg-0 mt-4 text-gradient text-info">Science @Excel</h2>
        <p class="lead">Our approach to supporting students in science focuses on teaching the fundamentals of
science using textbooks and workbooks designed to test and consolidate their
knowledge in science.
The support in science covers physics, chemistry and biology at KS3, GSCE and A
levels. The tuition support stretches across AQA, OCR, Pearson Edexcel, CIE and
WJEC exam boards. There is guidance for students on exam techniques, exposing
students to topic based exam style questions. This approach enhances students’
preparedness for their examinations. Years 3 to 10 students are given mock tests every
term with developmental and constructive feedback. </p>
        </div>
    </div>
  </div>
</section>
<!-- END Blogs w/ big image on left -->
    <div class="container">
        <div class="row">
            <!-- First Card -->
            <div class="col-lg-4 mx-auto text-center">
                <h6 class="text-gradient text-primary">Maximise Science Learning with Engaging Resources and Personalised Support at Excel Tutors</h6>
                <div class="card border-radius-md my-4">
                    <div class="card-body p-0 position-relative">
                        <iframe width="100%" height="715" src="https://www.youtube.com/embed/9DWT6MuBk-Q?si=uAFC7tRQJX-Y89zU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="border-radius-md"></iframe>
                    </div>
                </div>
            </div>
            <!-- Second Card -->
            <div class="col-lg-4 mx-auto text-center">
                <h3>Our Latest Video 2</h3>
                <div class="card border-radius-md my-4">
                    <div class="card-body p-0 position-relative">
                        <iframe width="100%" height="715" src="https://www.youtube.com/embed/r_rAb8cQXL0?si=re_Eew4ZC0EGp8gm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="border-radius-md"></iframe>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-lg-4 mx-auto text-center">
                <h3>Our Latest Video 3</h3>
                <div class="card border-radius-md my-4">
                    <div class="card-body p-0 position-relative">
                        <iframe width="100%" height="715" src="https://www.youtube.com/embed/r_rAb8cQXL0?si=re_Eew4ZC0EGp8gm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="border-radius-md"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center pb-5">
                    <div class="icon icon-shape text-center mb-3">
                        <svg class="text-info" width="40px" height="40px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>customer-support</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                    <g transform="translate(1716.000000, 291.000000)">
                                        <g transform="translate(1.000000, 0.000000)">
                                            <path class="color-background" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z" opacity="0.59858631"></path>
                                            <path class="color-foreground" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                                            <path class="color-foreground" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3>What Our Students Say</h3>
                    <p class="lead"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain text-center">
                        <a href="javascript:;">
                            <img class="avatar avatar-xl shadow" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-1.jpg">
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">Jessica Davis</h4>
                            <h6 class="category text-info text-gradient">GCSE Science Student @Excel</h6>
                            <p class="card-description">
                                "Don't walk behind me; I may not lead. Don't walk in front of me; I may not follow. Just walk beside me and be my friend."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain text-center">
                        <a href="javascript:;">
                            <img class="avatar avatar-xl shadow" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/marie.jpg">
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">Joshiah Luke</h4>
                            <h6 class="category text-info text-gradient">A Level Science Student @Excel</h6>
                            <p class="card-description">
                                "The pessimist complains about the wind; the optimist expects it to change; the realist adjusts the sails."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain text-center">
                        <a href="javascript:;">
                            <img class="avatar avatar-xl shadow" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-4.jpg">
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">Andrew John</h4>
                            <h6 class="category text-info text-gradient">GCSE Science Student @Excel</h6>
                            <p class="card-description">
                                "Do not go where the path may lead, go instead where there is no path and leave a trail."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}